<div fxLayout="column">
    <div *ngFor="let todo of todoList">
        <md-card>
            <md-card-title>{{todo.title}}</md-card-title>
            <md-card-subtitle fxLayoutAlign="start center">
                <img class="menuIcon" src="../assets/images/info.svg" /> By - {{todo.userName}}
            </md-card-subtitle>
            <md-card-content>
                <textarea aria-label="TODO Description" value="{{todo.description}}" class="customPayload" disabled="todoDescriptionDisabled"></textarea>
            </md-card-content>
            <md-card-actions fxLayoutAlign="end center">
                <button md-raised-button color="primary" (click)="editTodo(todo._id)">Edit</button>
                <button md-raised-button color="primary" (click)="deleteTodo(todo._id)">Delete</button>
            </md-card-actions>
        </md-card>
    </div>
</div>