<div fxLayout="column">
    <div *ngFor="let todo of todoList">
        <md-card>
            <div fxLayout fxLayoutAlign="space-between">
                <md-card-title>{{todo.title}}</md-card-title>
                <button md-icon-button [mdMenuTriggerFor]="menu">
                    <md-icon>more_vert</md-icon>
                </button>
            </div>
            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="enableTodoforEdit(todo)">
                    <md-icon>create</md-icon>
                    <span>Edit</span>
                </button>
                <button md-menu-item (click)="deleteTodo(todo._id)">
                    <md-icon>delete</md-icon>
                    <span>Delete</span>
                </button>
            </md-menu>
            <md-card-subtitle fxLayoutAlign="start center">
                <md-icon class="imageCursor menuIcon">info_outline</md-icon> By - {{todo.userName}}
            </md-card-subtitle>
            <md-card-content>
                <textarea aria-label="TODO Description" value="{{todo.description}}" class="customPayload" disabled="todoDescriptionDisabled"></textarea>
            </md-card-content>
        </md-card>
    </div>
</div>