<block-ui>
    <md-sidenav-container fullscreen class="example-container">

        <md-sidenav #sidenav class="example-sidenav">
            <md-toolbar color="primary">Menu</md-toolbar>
            <div fxLayout="column" class="mat-typography mat-display-1">
                <div fxLayout="row" fxFlex="grow" class="menuItemSet">
                    <button md-fab md-raised-button color="accent" aria-label="Home" fxLayoutAlign="center center" mdTooltip="Home" [mdTooltipPosition]="position">
                        <!-- <md-icon routerLink="/" class="imageCursor menuIcon" (click)="sidenav.close()">home</md-icon> -->
                        <i class="material-icons md-36 imageCursor" routerLink="/" (click)="sidenav.close()">home</i>
                    </button>
                </div>
                <div fxLayout="row" fxFlex="grow" class="menuItemSet">
                    <button md-fab md-raised-button color="accent" aria-label="Add TODO" fxLayoutAlign="center center" mdTooltip="Add TODO" [mdTooltipPosition]="position">
                        <!-- <md-icon routerLink="/addTodo" class="imageCursor menuIcon" (click)="sidenav.close()">add_circle_outline</md-icon> -->
                        <i class="material-icons md-36 imageCursor" routerLink="/addTodo" (click)="sidenav.close()">add_circle_outline</i>              
                    </button>
                </div>
            </div>
        </md-sidenav>

        <md-toolbar color="primary">
            <div fxFlex="70%" fxLayoutAlign="start center">
                <md-icon class="imageCursor menuIcon" (click)="sidenav.open()">menu</md-icon>
                <span>BP TODO</span>
            </div>
            <div fxFlex="30%" fxLayoutAlign="center center">
                <button md-icon-button mdTooltip="User Authentication" [mdTooltipPosition]="position">
                    <i class="material-icons md-36 imageCursor" (click)="userAuthentication()">account_circle</i>
                </button>
            </div>
        </md-toolbar>

        <router-outlet></router-outlet>

    </md-sidenav-container>
</block-ui>