<md-sidenav-container fullscreen class="example-container">

    <md-sidenav #sidenav class="example-sidenav">
        <md-toolbar color="primary">Menu</md-toolbar>
        <div fxLayout="column" class="mat-typography mat-display-1">
            <div fxLayout="row" fxFlex="grow" class="menuItemSet">
                <button md-fab md-raised-button color="accent" aria-label="Home" fxLayoutAlign="center center" mdTooltip="Home" [mdTooltipPosition]="position">
                        <img width="100%" class="imageCursor menuIcon" src="../assets/images/home.svg" routerLink="/" (click)="sidenav.close()" />                  
                    </button>
            </div>
            <div fxLayout="row" fxFlex="grow" class="menuItemSet">
                <button md-fab md-raised-button color="accent" aria-label="Home" fxLayoutAlign="center center" mdTooltip="Add TODO" [mdTooltipPosition]="position">
                        <img width="100%" class="imageCursor menuIcon" src="../assets/images/add.svg" routerLink="/addTodo" (click)="sidenav.close()" />                  
                    </button>
            </div>
        </div>
    </md-sidenav>

    <md-toolbar color="primary">
        <img class="imageCursor menuIcon" src="../assets/images/menu.svg" (click)="sidenav.open()" />
        <span>BP TODO</span>
    </md-toolbar>

    <router-outlet></router-outlet>

</md-sidenav-container>