/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.imageCursor {
    cursor: pointer;
}

.addButton {
    right: 20px;;
    bottom: 20px;
    position: fixed !important;
    z-index: 100;
    margin: 0px 10px 0px 10px;
}

.menuIcon {
    padding-right: 20px;
}

.menuItemSet {
    padding: 10px;
}

.customSpinner {
	padding-right: 20px;
	padding-left: 20px;
}

.requestSpinner {
    height: 20px !important;
}

.customPayload {
    width: 100%;
}

textarea {
    resize: none;
    background: #FFF;
    border: 0px solid;
    white-space: pre !important;
    padding-top: 15px;
    height: 50px;
}

md-card {
    border: 1px solid #cfd8dc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.mat-menu-content {
    border: 1px solid #3f51b5;
}

.customHeaders{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.customAllTodoHeader {
    color: #9b9fa0;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }